/* ROLE BADGE BASE */
.role-badge {
  padding: 4px 14px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ADMIN STYLE */
.role-admin {
  color: #6020ce;
  /* background: #ffffff; */
}

.table thead th {
  height: 55px;
  vertical-align: middle;
  white-space: nowrap;
}

.table-responsive {
  height: 550px;
  /* 🔥 FIXED TABLE HEIGHT */
  overflow-y: auto;
  overflow-x: auto;
}

/* FORCE FIXED ROW HEIGHT */
.table tbody tr {
  height: 95px !important;
}

.table tbody td {
  height: 40px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  vertical-align: middle !important;
}

/*  for status history */
.timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #dee2e6;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.timeline-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: -26px;
  margin-top: 6px;
}

.timeline-content {
  padding-left: 10px;
}

/* for summary boxes */
.summary-box {
  cursor: pointer;
  /* transition: all 0.2s ease; */
}

.summary-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.summary-box.active {
  border: 2px solid #0d6efd;
  background-color: #e7f1ff !important;
}